@charset "UTF-8";
#header-wrap {
  padding: 10px 0;
  height: 100px;
  width: 100%;
  padding-left: 120px;
  box-sizing: border-box;
}
#header-wrap #header {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#header-wrap #header * {
  flex: 0 0 auto;
}
#header-wrap #header #logo {
  height: 100%;
}
#header-wrap #header #logout_tip {
  margin-right: 40px;
}
#header-wrap #header #logout_tip #out-icon {
  width: 16px;
  height: 16px;
  padding: 4px;
  box-sizing: content-box;
}
#header-wrap #header .text-needed {
  color: #053863;
  font-weight: 600;
}

#navigation {
  background: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Microsoft YaHei UI";
}
#navigation header, #navigation main {
  background: #edf0f5;
}
#navigation header {
  background: url("../img/nav-header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  line-height: 38px;
  box-sizing: border-box;
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 18px;
}
#navigation header span:not(:empty)::before {
  content: ">";
  padding: 0 6px 0 4px;
}
#navigation header span:not(:empty):first-child::before {
  content: "";
}
#navigation header #end {
  color: #575757;
  font-weight: bold;
}
#navigation header #category, #navigation header #part {
  color: #575757;
}
#navigation main {
  padding: 10px 40px;
  min-height: 750px;
  background-image: url("../img/nav-top.jpg"), url("../img/nav-bottom.jpg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%, 100%;
}
#navigation main > ul {
  padding-left: 0;
  color: #555;
  list-style-type: none;
}
#navigation main > ul .category {
  border-bottom: 1px solid #575757;
}
#navigation main > ul .category:last-child {
  border-bottom: none;
}
#navigation main > ul > li {
  color: #000;
  padding: 5px 0;
}
#navigation main > ul > li .category-name {
  color: #575757;
  font-size: 1rem;
}
#navigation main > ul > li ul {
  margin-top: 2px;
  padding: 0;
  list-style: none;
}
#navigation main > ul > li ul li {
  line-height: 30px;
  padding-left: 24px;
  margin-left: 24px;
  margin-right: -32px;
}
#navigation main > ul > li ul li a, #navigation main > ul > li ul li a:visited {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}
#navigation main > ul > li ul > li:hover {
  background: #b9ddf5;
}
#navigation main > ul > li ul > li.active {
  background: #b9ddf5;
}
#navigation main > ul .icon {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  margin-right: 4px;
}

.nav {
  background: #ffffff;
  padding: 10px 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-tabs {
  border-bottom: 2px solid #079fc9;
}

.nav-link {
  padding: 0.4rem 1rem;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-item.nav-link {
  border: 2px solid #dcdcdc;
  color: #4a4a4a;
  border-bottom: 2px solid transparent;
  margin: 0 10px -2px 0;
  font-family: 黑体;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #0691b8;
  border: 2px solid #079fc9;
  border-bottom: 2px solid transparent;
}

.table {
  margin-bottom: 0;
}
.table thead tr:first-child {
  background: #5b8fb4;
  color: #ffffff;
}
.table thead th {
  padding: 5px 12px;
}
.table tbody tr:nth-child(odd) {
  background: #e5f0f6;
}
.table tbody th {
  padding: 8px 12px;
}
.table th {
  white-space: nowrap;
  font-family: 黑体;
  font-weight: normal;
}
.table .table_id, .table .table_people, .table .table_num, .table .table_status {
  width: 120px;
}
.table .table_time {
  width: 230px;
}
.table .table_material {
  width: 180px;
}
.table .table_note, .table .table_operate {
  width: 200px;
}
.table td {
  white-space: nowrap;
  padding: 8px 12px;
}

table .row {
  margin-bottom: 0;
}

input[name=btSelectAll] {
  display: none;
}

.padding {
  padding: 0 20px;
  box-sizing: border-box;
}

#sadminTbody .row {
  margin-right: 0;
}

[class^=modifyInput] {
  display: none;
}

.fixed-table-loading {
  display: none;
}

.table-edit-status {
  color: #5b8fb4;
  font-size: 16px;
}

.fixed-table-pagination {
  display: none !important;
}

.content-card {
  background: #ffffff;
  margin-bottom: 1.4em;
}
.content-card header, .content-card footer {
  padding: 10px 30px;
}
.content-card header {
  background-color: #bbdaee;
}
.content-card header .header-title {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  font-family: "Microsoft YaHei UI";
  font-size: 20px;
  color: #112d4e;
}
.content-card header .header-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  bottom: -10px;
  left: 0;
  border-bottom: 4px solid #3f8bc7;
}
.content-card main {
  padding: 32px 30px 50px 38px;
  background-color: white;
}
.content-card main .text-info {
  font-family: "Microsoft YaHei UI";
  font-size: 0.875rem;
  color: #3f8bc7;
}
.content-card main .list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.content-card main .list li {
  font-family: "Microsoft YaHei UI";
  font-size: 0.75rem;
  color: #434343;
  margin: 5px 0;
}
.content-card main .content-body {
  margin-top: 0;
  margin-bottom: 0;
}
.content-card main .right {
  float: right;
}
.content-card main .left {
  float: left;
}
.content-card main .row-image {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.content-card main .center {
  text-align: center;
}
.content-card main .no-margin {
  margin: 0;
}
.content-card main .text-right {
  text-align: right;
}

.operate {
  /*display: flex;*/
  align-items: center;
  justify-content: space-around;
  margin-left: 0px;
  padding: 0;
  /*margin-bottom: 5px;*/
}

.operate > * {
  float: left;
  margin-top: 24px;
}
.operate > *.clearfix {
  clear: both;
}

.operate:first-child span, .operate:first-child input, .operate:first-child .select, .operate:first-child button {
  margin-top: 0;
}

.operate span {
  font-family: "Microsoft YaHei UI";
  font-size: 16px;
  color: #4d4d4d;
  line-height: 31px;
  margin-right: 14px;
  display: block;
}

.operate .select {
  width: 162px;
  margin-right: 24px;
}

.operate button {
  margin-right: 12px;
}

hr {
  margin-top: 50px;
  margin-bottom: 24px;
}

.left {
  float: left;
}

#body {
  background: #f6f6f6;
}

#container_body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}
#container_body .row {
  margin-right: 0;
  margin-left: 0;
}
#container_body #navigation {
  width: 290px;
  float: left;
  margin-right: 10px;
  box-shadow: 0 10px 10px #919191;
  margin-bottom: 40px;
}
#container_body #content_body {
  float: left;
  width: 900px;
  min-height: 800px;
  box-shadow: 0 10px 10px #919191;
  margin-bottom: 40px;
  background: #f6f6f6;
}

.clearfix {
  clear: both;
}

.btn-outline {
  color: #3f8bc7;
  border-radius: 5px;
  border: 1px solid #0066b7;
  font-family: "Microsoft YaHei UI";
}
.btn-outline:hover {
  background-color: #e5f0f6;
  color: #3f8bc7;
}

.btn-background1 {
  background: #62acde;
  color: #feffff;
  border-radius: 5px;
  font-family: "Microsoft YaHei UI";
}

.btn-background2 {
  background: #dcf1ff;
  color: #3f8bc7;
  border-radius: 5px;
  border: 1px solid #3f8bc7;
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI";
}

.btn-background3 {
  background: #56a3d7;
  color: #feffff;
  border-radius: 5px;
  border: 1px solid #56a3d7;
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI";
}

.btn-manage {
  background: rgba(214, 237, 249, 0.8);
  color: #000;
  border-radius: 5px;
  border: 1px solid rgba(214, 237, 249, 0.8);
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI";
}

.btn-default {
  background: #3f8bc7;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Microsoft YaHei UI";
}
.btn-default:hover {
  background: inherit;
  color: #3f8bc7;
  border-color: #3f8bc7;
}

.btn-group {
  margin: 26px 0;
  line-height: 46px;
}
.btn-group.right .btn {
  margin-left: -1px;
}

.btn-select {
  width: 58px;
  color: #3f8bc7;
}

.btn-single {
  padding: 4px 17px;
}

.btn-multi {
  padding: 4px 14px;
  margin-right: 0.75rem;
}

.select-top.row div[class^=col-] {
  padding-left: 0;
}

.select-top > div[class^=col-] {
  padding-right: 30px;
}
.select-top > div[class^=col-].last {
  padding-right: 0;
}
.select-top > div[class^=col-].no-padding {
  padding-right: 0;
  padding-left: 0;
}

.select-top.title {
  margin-bottom: 2px;
  font-family: "Microsoft YaHei UI";
  color: #4d4d4d;
}

.no-background {
  background-color: #ffffff;
}

.row {
  margin-bottom: 10px;
}

.custom-file-sm {
  width: 245px;
  height: 31px;
}
.custom-file-sm .custom-file-input {
  height: 31px;
}
.custom-file-sm .custom-file-label {
  height: 31px;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.custom-file-sm .custom-file-label::after {
  content: "浏览";
  height: 30px;
  line-height: 31px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 0.75rem;
  margin-right: -1px;
  background: #62acde;
  color: #ffffff;
}

.barcon {
  margin: 0 auto;
  text-align: center;
}
.barcon .barcon2 {
  float: left;
}
.barcon .barcon2 > ul {
  margin: 20px 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.barcon .barcon2 > ul > li {
  display: inline;
  line-height: 46px;
  box-sizing: border-box;
}
.barcon .barcon2 > ul > li:first-child {
  width: 50px;
}
.barcon .barcon2 > ul > li:nth-child(2) {
  width: 68px;
}
.barcon .barcon2 > ul > li:nth-child(3) {
  width: 68px;
}
.barcon .barcon2 > ul > li:nth-child(4) {
  width: 50px;
}
.barcon .barcon2 > ul > li:last-child a {
  margin-right: 0;
}
.barcon .barcon2 > ul .jumpWhere {
  width: 50px;
  padding: 0 5px;
  border: 1px solid #3f8bc7;
  height: 32px;
}
.barcon .barcon2 a {
  margin: 0 3px;
  margin-top: -3px;
}

.barcon1 {
  color: #505050;
}

.ban {
  opacity: 0.4;
}

.text-page {
  color: #266997;
}

.modal {
  padding-right: 0 !important;
}

.modal-dialog {
  max-width: 1200px;
}
.modal-dialog .modal-header {
  padding: 24px 28px;
  height: 71px;
  box-sizing: border-box;
  background-image: url("../img/modal-header.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  border: none;
}
.modal-dialog .modal-header .modal-title {
  font-size: 20px;
  font-family: "Microsoft YaHei UI";
  line-height: 22px;
}
.modal-dialog .modal-body {
  padding: 1.25rem;
}
.modal-dialog .modal-footer {
  padding: 1rem 1.25rem;
}

/*# sourceMappingURL=global.css.map */
