.btn-outline{
    //border-color: $button-outline-color;
    color: $button-outline-color;
    border-radius: 5px;
    border:1px solid $button-outline-border;
    font-family: "Microsoft YaHei UI";
    &:hover{
        //border-color: transparent;
        //color: $text-white;
        background-color: $button-outline-hover;
        color: $button-outline-color;

    }
}
.btn-background1{
    background: $button-background-color;
    color:$button-background-text;
    border-radius: 5px;
    font-family: "Microsoft YaHei UI";
}
.btn-background2{
    background: $button-background-back;
    color:$button-outline-color;
    border-radius: 5px;
    border: 1px solid $button-outline-color;
    box-sizing: border-box;
    font-family: "Microsoft YaHei UI";
}
.btn-default{
    background: $button-default-back;
    color:$text-white;
    border-radius: 5px;
    font-family: "Microsoft YaHei UI";
    &:hover{
        background: inherit;
        color:$button-default-back;
        border-color: $button-default-back;
    }
}
.btn-group{
    margin: 26px 0;
    line-height: 46px;
    &.right{
        .btn{
            margin-left: -1px;
        }
    }
}
//选择框的按钮组
.btn-select{
    width: 58px;
    color: $button-outline-color;
}
//按钮按照内容长度设置宽度
.btn-single{
    padding: 4px 17px;
}
.btn-multi{
    padding: 4px 14px;
    margin-right: 0.75rem;
}
.select-top.row div[class^="col-"]{
    padding-left: 0;
}
.select-top{
    >div[class^="col-"]{
        padding-right: 30px;
        &.last{
            padding-right: 0;
        }
        &.no-padding{
            padding-right: 0;
            padding-left: 0;
        }
    }
}
.select-top.title{
    margin-bottom: 2px;
    font-family: "Microsoft YaHei UI";
    color: $text-card-item;
}
.no-background{
    background-color: $text-white;
}
.row{
    margin-bottom: 10px;
}