$card-paddingx:30px;
$card-paddingy:10px;

.content-card{
    background: #ffffff;
    margin-bottom:1.4em;
    
    header,main,footer{
        padding: $card-paddingy $card-paddingx;
        padding-left: 38px;
    }
    
    header{
        background-color: $card-head;
        .header-title{
            position: relative;
            display: inline-block;
            padding: 0 8px;
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            color: $text-card-title;
            &::after{
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                bottom: -$card-paddingy;
                left:0;
                border-bottom: 4px solid $card-head-title-border;
            }
        }
    }
    main{
        background-color: white;
        .text-info{
            font-family: "Microsoft YaHei UI";
            font-size: 1rem;
            color: $card-head-title-border;
        }
        .list{
            padding-left: 0;
            list-style: none;
        }
        .list li{
            font-family: "Microsoft YaHei UI";
            font-size: 0.8rem;
            color: $text-info;
            margin: 5px 0;
        }

    }
}
.operate {
    /*display: flex;*/
    align-items: center;
    justify-content: space-around;
    margin-left: 0px;
    padding: 0;
    /*margin-bottom: 5px;*/
}
.operate *{
    float: left;
    margin-top: 24px;
}

.operate span{
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    color:#4d4d4d;
    line-height: 31px;
    margin-right: 14px;
    display: block;
}
.operate .select{
    width: 162px;
    margin-right: 24px;
}
.operate button{
    margin-right: 12px;
}
