$card-paddingx:30px;
$card-paddingy:10px;

.content-card{
    background: #ffffff;
    margin-bottom:1.4em;
    
    header,footer{
        padding: $card-paddingy $card-paddingx;
    }
    
    header{
        background-color: $card-head;
        .header-title{
            position: relative;
            display: inline-block;
            padding: 0 8px;
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            color: $text-card-title;
            &::after{
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                bottom: -$card-paddingy;
                left:0;
                border-bottom: 4px solid $card-head-title-border;
            }
        }
    }
    main{
        padding: 32px 30px 50px 38px;
        background-color: white;
        .text-info{
            font-family: "Microsoft YaHei UI";
            font-size: 0.875rem;
            color: $card-head-title-border;
        }
        .list{
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
        }
        .list li{
            font-family: "Microsoft YaHei UI";
            font-size: 0.75rem;
            color: $text-info;
            margin: 5px 0;
        }
        .content-body{
            margin-top: 0;
            margin-bottom: 0;
        }
        .right{
            float: right;
        }
        .left{
            float: left;
        }
        .row-image{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .row-image-lg{
            width: 19px;
            height: 19px;
        }
        .row-image-sm{
            width: 17px;
            height: 17px;
        }
        .center{
            text-align: center;
        }
        .no-margin{
            margin: 0;
        }
        .text-right{
            text-align: right;
        }

    }
}
.operate {
    /*display: flex;*/
    align-items: center;
    justify-content: space-around;
    margin-left: 0px;
    padding: 0;
    /*margin-bottom: 5px;*/
}
.operate >*{
    float: left;
    margin-top: 24px;
    &.clearfix{
        clear:both;
    }
}
.operate:first-child span,.operate:first-child input,.operate:first-child .select,.operate:first-child button{
    margin-top: 0;
}
.operate span{
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    color:#4d4d4d;
    line-height: 31px;
    margin-right: 14px;
    display: block;
}
.operate .select{
    width: 162px;
    margin-right: 24px;
}
.operate button{
    margin-right: 12px;
}
hr{
    margin-top: 50px;
    margin-bottom: 24px;
}
.left{
    float: left;
}
