//模态框
.modal{
    padding-right: 0!important;
}
.modal-dialog{
    max-width: 1200px;
    .modal-header{
        padding: 24px 28px;
        height: 71px;
        box-sizing: border-box;
        background-image: url("../img/modal-header.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
        border: none;
        .modal-title{
            font-size: 20px;
            font-family: "Microsoft YaHei UI";
            line-height: 22px;
        }
    }
    .modal-body{
        padding: 1.25rem;
    }
    .modal-footer{
        padding: 1rem 1.25rem;
    }
}