//模态框
.modal-dialog{
    max-width: 1200px;
    .modal-header{
        padding: 24px 28px;
        height: 70px;
        box-sizing: border-box;
        background: #a3d7f6;
        //background-image: url("../img/modal-header.jpg");
        //background-repeat: no-repeat;
        //background-position: right;
        //background-size: 100% 100%;
        border: none;
        .modal-title{
            font-size: 20px;
            font-family: "Microsoft YaHei UI";
            line-height: 22px;
        }
    }
    .modal-body{
        padding: 1rem 1.25rem;
    }
}