.table{
    thead{
        tr:first-child{
            background: $table-head;
            color: $text-white;
        }
        th{
            padding: 5px 12px;
        }
    }
    tbody{
        tr:nth-child(odd){
            background: $table-odd;
        }
        th{
            padding: 8px 12px;
        }
    }
    th{
        font-family: 黑体;
        font-weight: normal;
    }
    .table_id,.table_people,.table_num,.table_status{
        width: 120px;
    }
    .table_time{
        width: 230px;
    }
    .table_material{
        width: 180px;
    }
    .table_note,.table_operate{
        width: 200px;
    }
    td{
        white-space:nowrap;
        padding: 8px 12px;
    }
}
table .row{
    margin-bottom: 0;
}
input[name="btSelectAll"]{
    display: none;
}
.padding{
    padding: 0 20px;
    box-sizing: border-box;
}
#sadminTbody .row{
    margin-right: 0;
}
[class^="modifyInput"]{
    display: none;
}
.fixed-table-loading{
    display: none;
}
.table-edit-status{
    color: #5b8fb4;
    font-size: 16px;
}