.add-new {
	display: block;
	margin: 20px;
}

.new-scheduleName-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#template-table{
	margin-bottom: 0;
	width: auto;
}
#template-tbody tr th:first-child{
	text-align: center;
	padding: 8px 12px;
}

#template-tbody td:hover{
	background-color: #eeeeee;
}
#template-tbody td{
	padding-right: 18px;
	/*width: 250px;*/
	/*white-space:nowrap;*/
}
.operate-area{
	margin-bottom: 0.5rem;
}