.card {
	margin-bottom: 50px;
}

.time-last {
	border: none;
	text-align: center;
}


.float-right {
	margin-left: 100px;
}

.left-flatpickr {
	margin-left: 20px;
}


/*调整表格与上方间距*/
#student-open-apply-table,#teacher-table{
	margin-top: 28px;
}
.row{
	margin-bottom: 0;
}
form{
	margin-top: 20px;
	margin-bottom: 1.5rem;
}