/*物料登记*/
#material-record-table{
	margin-top: 1.5rem;
}
#material-record-tablebarcon{
	margin-top: 0.75rem;
}
.record-table{
	padding-right: 1.5rem;
	box-sizing: padding-box;
	padding-left: 0;
}
.outNumber-card {
	margin-top: 18px;
}
.card-header{
	background: #badaed;
	text-align: center;
	color: #112d4e;
	font-family: "Microsoft YaHei UI";
	line-height: 2.5rem;
	padding: 0;
}
.card-body{
	padding: 1.75rem 1.5rem;
}
.materal-out-row{
	margin-bottom: 0.75rem;
}
.materal-out-row span{
	float: left;
	line-height: 31px;
}
.materal-out-row input,.materal-out-row select{
	width: 184px;
	margin: 0;
}
#decr-material-Num{
	margin-top: 0.75rem;
}
/*领取记录*/
#receive-materiel-table{
	margin-top: 28px;
}



.fill-in {
	margin-left: 100px;
	margin-top: 60px;
}

.fill-check {
	margin-right: 100px;
	margin-top: 30px;
}

.card {
	margin-bottom: 50px;
}

.time-last {
	border: none;
	text-align: center;
}


.record-search2 input {
	margin: 20px;
}

.fa-plus-square-o {
	cursor: pointer;
}

.clearfix{
	clear: both;
}
.right{
	float: right;
}
.no-padding{
	padding: 0;
}
.no-border{
	border-left: none;
	border-right: none;
}
.input_td{
	padding: 0!important;
	line-height: 3rem;
}

.delete-image{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.table-operate-img{
	text-align: center;
	width: 60px;
}

