.operations .btn{
	padding: 0 8px;
}
.operations .row-image-sm{
	margin-bottom: 1.9px;
}
.reset_teacher_entry{
	/*line-height: 30px;*/
	color: #266997;
	font-size: 12px;
	font-family: "Microsoft YaHei UI";
}
#delete_selected_teacher{
	padding: 0.25rem 0;
	margin-top: 32px;
	width: 50px;
}
