/*.select-module {*/
	/*width: 50%;*/
	/*display: flex;*/
	/*justify-content: space-around;*/
	/*align-items: center;*/
/*}*/

/*tr td input {*/
	/*width: 50px;*/
	/*border-radius: 3px;*/
	/*border: solid 1px;*/
/*}*/

/*td,th {*/
	/*text-align: center;*/
/*}*/

.modal-body .operate-area{
	margin-bottom: 1rem;
}
.modal-body .table{
	margin-bottom: 0;
}
#new_weight_list_table input[type='number']{
	width: 100px;
	margin-right: 0.5rem;
	float: left;
}
.operate-area:first-child{
	margin-bottom: 38px;
}
.table-weight{
	margin-bottom: 2rem;
}
#table-edit-status{
	display: none;
}
.table{
	margin-top: 0;
}
